# Dataset
/Dataset

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

*.pkl
*.pt
